html
  :background-color #43484c
  //:background-color #949494
  :background-image url(/images/bg.png)

  
#custom-doc
  :width 42.54em
  :*width 41.51em
  :min-width 553px
  :margin auto
  :text-align left

.clear
  :clear both

body
  :margin 70px 0
  :font-family Lucida Grande, Verdana, Arial
  
.twitter
  :float right
  :margin-top -20px
  :margin-right -20px
  

#bd
  :border-width 1px 1px 1px 1px
  :border-color #5e5e5e
  :border-style solid
  //:-moz-border-radius 10px 10px 0 0
  //:-webkit-border-radius 10px 10px 0 0
  :background-color #e8e8e8
  //:opacity 0.85
  :padding-bottom 20px
      
#hd
  :margin-top 10px
  :color #d2d2d2
  :font-size 85%
  a
    :color #d2d2d2
    
.welcome.index
  #info
    :padding 20px
    .image
      :float left
      :border 1px solid #b7b7b7
    .text
      :margin-left 220px
      .name
        :font-size 189%
      .baseline
        :font-size 131%
        p
          :margin-top 10px
        a
          :margin-right 5px
  #twitter
    :padding 0 15px
    :min-height 200px
    .twtr-hd, .twtr-ft
      :display none
      
      
  #photos
    :padding 0 20px
    .image
      :float left
      :margin 0 11px 0 11px
      :border 1px solid #b7b7b7
    
.domains.index
  .wrapper
    :text-align center
    :font-size 189%
    :padding 50px 0
    p
      :margin-top 20px