html {
  background-color: #43484c;
  background-image: url(/images/bg.png); }

#custom-doc {
  width: 42.54em;
  *width: 41.51em;
  min-width: 553px;
  margin: auto;
  text-align: left; }

.clear {
  clear: both; }

body {
  margin: 70px 0;
  font-family: Lucida Grande, Verdana, Arial; }

.twitter {
  float: right;
  margin-top: -20px;
  margin-right: -20px; }

#bd {
  border-width: 1px 1px 1px 1px;
  border-color: #5e5e5e;
  border-style: solid;
  background-color: #e8e8e8;
  padding-bottom: 20px; }

#hd {
  margin-top: 10px;
  color: #d2d2d2;
  font-size: 85%; }
  #hd a {
    color: #d2d2d2; }

.welcome.index #info {
  padding: 20px; }
  .welcome.index #info .image {
    float: left;
    border: 1px solid #b7b7b7; }
  .welcome.index #info .text {
    margin-left: 220px; }
    .welcome.index #info .text .name {
      font-size: 189%; }
    .welcome.index #info .text .baseline {
      font-size: 131%; }
      .welcome.index #info .text .baseline p {
        margin-top: 10px; }
      .welcome.index #info .text .baseline a {
        margin-right: 5px; }
.welcome.index #twitter {
  padding: 0 15px;
  min-height: 200px; }
  .welcome.index #twitter .twtr-hd, .welcome.index #twitter .twtr-ft {
    display: none; }
.welcome.index #photos {
  padding: 0 20px; }
  .welcome.index #photos .image {
    float: left;
    margin: 0 11px 0 11px;
    border: 1px solid #b7b7b7; }

.domains.index .wrapper {
  text-align: center;
  font-size: 189%;
  padding: 50px 0; }
  .domains.index .wrapper p {
    margin-top: 20px; }
